@font-face {
    font-family: 'youth_touch_demoregular';
    src: url('../fonts/youth-touch-personal_use_only-webfont.woff2') format('woff2'), url('../fonts/youth-touch-personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* --- start variables */
:root {
    --color_primario: #FFA800;
    --negro: black;
    --blanco: white;
    --gris: #7C7C7C;
    --gris_claro: #aaa;
    --verde: #25D366;
    --negro_rgba: rgba(0,0,0,0.4);
    --blanco_rgba: rgba(255,255,255,0.5);
    --transicion: all 0.2s ease-in-out;
}
/* --- end variables */
html, body {
    margin: 0;
    padding: 0;
    color: var(--negro);
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
}
::-moz-selection { 
    color: white;
    background: #D2C29D;
}
::selection { 
    color: white;
    background: #D2C29D;
}
/* SELECTOR DE ETIQUETAS ----------------- */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.br-null-desktop {
    display: none;
}
h1, h2, h5 {text-align: center;}
h1 {
    font-family: "youth_touch_demoregular";
    font-size: 110px;
    line-height: 110px;
    font-weight: normal;
}
h2 {
    background-color: var(--negro);
    color: var(--color_primario);
    display: inline-block;
    letter-spacing: 0.04em;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 15px;
}
h3 {
    font-family: "youth_touch_demoregular";
    color: var(--blanco);
    font-size: 80px;
    font-weight: normal;
}
h4 {
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
    margin-block-start: 0;
    margin-block-end: 0.5em;
    margin 1em;
}
h5 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.05em;
    letter-spacing: 0.01em;
    line-height: 1.2em;
}
p {
    font-size: 1em;
    font-weight: lighter;
}
/* SELECTOR DE CLASES ----------------- */
.hidden-desktop {
    display: none;
}

/* --- start buttons */
.botonPrimario {
    background-color: var(--color_primario);
    border: 0;
    color: var(--blanco);
    font-size: 0.95em;
    font-weight: 500;
    height: 53px;
    letter-spacing: 0.2px;
    padding: 0 20px;
    transition: var(--transicion);
}
.botonPrimario:hover {
    color: var(--color_primario);
    background-color: var(--negro);
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.3);
}
.botonPrimario:active {
    box-shadow: none;
}
/* --- end buttons */

/* ::::::::::: HEADER ::::::::::: */
.header {
    width: 100%;
    height: 100vh;
    background-position: top center;
    background-size: 1000px;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    animation: sliderHome 20s linear infinite 0s; /* css/animation.css --> sliderHome */
    background-image: url("../images/home/01-chichen.png");
    background-position-y: -50px;
    background-attachment: fixed;
}
div.preload-images {
    background: url("../images/home/01-chichen.png") no-repeat -9999px -9999px;
    background: url("../images/home/01-chichen.png") no-repeat -9999px -9999px,
      url("../images/home/02-xplor.png") no-repeat -9999px -9999px,
      url("../images/home/03-snorkel.png") no-repeat -9999px -9999px,
      url("../images/home/04-rappel.png") no-repeat -9999px -9999px,
      url("../images/home/05-tirolesa.png") no-repeat -9999px -9999px,
      url("../images/home/01-chichen.png") no-repeat -9999px -9999px;
  }
.headerContainer {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    width: 130px;
    height: auto;
    margin: 15px 0 0 20px;
}
.header-socialAndQuote, .header-socialAndQuote ul li, .header-menuNav ul li {
    display: inline-block;
}
.header-socialAndQuote {
    right: 0;
    position: fixed !important;
    z-index: 999;
}
.header-socialAndQuote ul {
    display: inline;
}
ul.header-social {
    top: 0;
    background: rgba(255,255,255,0.85);
    padding: 18px 0 16px;
}
ul.header-social a {
    font-size: 1.3em;
    padding: 14px 9px;
    color: var(--negro);
}
.fa {
    line-height: auto;
    display: inline;
}
.fa-facebook-f, .fa-instagram, .fa-whatsapp, .fa-user-edit{
    transition: var(--transicion);
}
ul.header-social a:hover ..fa-pen-square, ul.header-social a:hover .fa-facebook-f, ul.header-social a:hover .fa-instagram, ul.header-social a:hover .fa-whatsapp {
    transition: var(--transicion);
}
ul.header-social a:hover .fa-facebook-f {
    color: #1877f2;
}
ul.header-social a:hover .fa-instagram {
    color: #c32aa3;
}
ul.header-social a:hover .fa-whatsapp {
    color: #25d366;
}
.fa-whatsapp::before, .fa-pen-square::before {
    vertical-align: middle;
    line-height: 0;
}
/* ::::::::::: HEADER NAV ::::::::::: */
.header-menuNav, .header-menuNav ul {
    display: flex;
}
.header-menuNav {
    justify-content: center;
}
.header-menuNav ul {
    justify-content: flex-end;
    margin: 9px 13px 9px 0;
}
.header-menuNav ul li a {
    color: var(--negro);
    font-size: 0.9em;
    font-weight: 600;
    border-bottom: 3px solid var(--negro);
    padding: 9px 14px;
    transition: var(--transicion);
}
.header-menuNav ul li a.active {
    cursor: inherit;
}
.header-menuNav ul li a:hover, .header-menuNav ul li a.active {
    color: var(--color_primario);
    border-bottom: 9px solid var(--color_primario);
    background-color: rgba(255,255,255,0.8);
}
/* ::::::::::: HERO ::::::::::: */
.heroContenedor {
    display: flex;
    width: 100%;
    /* height: 100vh; */
    height: 70%;
    justify-content: center;
    align-self: center;
}
.hero {
    width: auto;
    align-self: center;
    margin-top: 10%;
}
.hero-description, .hero-title, h1 {
    margin: 0;
}
.hero-autor {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.hero-autorContenedor {
    margin-left: 10px;
}
.hero-autorImg {
    border: 1px solid white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.hero-autorName {
    display: block;
    text-align: left;
    font-size: .85em;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,0.35);
    padding-bottom: 6px;
}
.hero-autorInfo {
    font-size: .85em;
    font-weight: lighter;
    margin-top: 4px;
}

/* ::::::::::: SERVICES ::::::::::: */
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.servicesContenedor {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 60%;
    margin: 50px 30px 0 30px;
}
.services-product {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 250px;
    margin: 0 1px;
    box-shadow: 0 3px 5px 0 var(--negro_rgba);
    transition: var(--transicion);
}
.services-product:nth-last-child(1) {
    margin-right: 0;
}
.services-product:hover {
    box-shadow: 0 10px 13px 0 var(--negro_rgba);
}
.services-product h3 {
    bottom: -10%;
    transition: all 0.25s linear;
    border-bottom: 1px solid rgba(255,255,255, 0);
}
.services-product:hover h3 {
    transform: translateY(-15px);
    border-bottom: 1px solid rgba(255,255,255, 0.5);
}
.services-product .imagen {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.services-product .titulo {
    opacity: 1;
    position: absolute;
    text-align: center;
}
.services-product:hover .titulo {
    opacity: 1;
    z-index: 889;
}
.services-product:active .titulo {
    color: var(--negro);
}
.services-product .naranja {
    z-index: 888;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color_primario);
    transition: var(--transicion);
}
.services-product:hover .naranja {
    opacity: 0.7;
}
.services-product:active .naranja {
    transition: none;
    background: var(--blanco);
    opacity: 0.8;
}

/* ::::::::::: REVIEWS ::::::::::: */
.reviews {
    text-align: center;
    width: 100%;
    max-width: 600px;
    position: relative;
}
.reviews::after, .reviews::before {
    content:url('../images/reviews/comillas.svg');
    position: absolute;
    top: 25px;
    /* width: 68px;
    height: 52px; */
}
.reviews::after {
    transform: rotate(180deg);
    left: 100%;
}
.reviews::before {
    left: -65px;
    top: 25px;
}
.reviews-autor {
    color: var(--color_primario);
    font-weight: 600;
    font-size: 1.2em;
    font-style: italic;
}

/* ::::::::::: SIGNUP FORM ::::::::::: */
.signupform .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.signupform input[type=email] {
    background: rgba(255,255,255,0.5);
    font-family: 'Montserrat';
    font-size: 0.85em;
    font-style: italic;
    width: 30%;
    padding: 0 20px;
    line-height: 53px;
    margin: 0 8px 0 12px;
    border: 1px solid var(--negro);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: none;
}
.signupform ::placeholder {
   /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--gris_claro);
}
.signupform :-ms-input-placeholder {
   /* Internet Explorer 10-11 */
   color: var(--gris_claro);
}
.signupform ::-ms-input-placeholder {
   /* Microsoft Edge */
   color: var(--gris_claro);
}

/* ::::::::::: FOOTER ::::::::::: */
.footer {
    height: 150px;
    background-color: var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logos {
    bottom: 0;
    line-height: 0;
    width: 45%;
    margin: 0;
}
.footer-logos .logo-lalostylesContenedor, .footer-logos .paypal {
    color: var(--blanco);
    margin-left: 25px;
}
.footer-logos .logo-lalostyles {
    width: 100px;
    padding: 11px 11px 11px 0;
    border-right: 0.5px solid var(--blanco_rgba);
}
.footer-logos .slogan {
    font-family: "youth_touch_demoregular";
    font-size: 1.9em;
    font-weight: lighter;
    letter-spacing: 0.02em;
    padding-left: 9px;
}
.footer-menu {
    width: 20%;   
    text-align: right;
}
.footer-menu ul {
    border-right: 0.5px solid var(--blanco_rgba);
    padding-right: 15px;
}
.footer-menu ul li {
    font-size: 0.8em;
    font-weight: lighter; 
    padding: 1px 0; 
}
.footer-menu ul li a {
    color: var(--blanco);
    opacity: 0.5;
    transition: var(--transicion);
}
.footer-menu ul li a:hover {
    opacity: 1;
}
.footer-menu ul li a:active {
    opacity: 1;
    color: var(--color_primario);
}
.footer-clima {
    width: 35%;
}

/* ::::::::::: PI: PÁGINAS INTERNAS ::::::::::: */
.header-internas {
    height: 285px;
    width: 100%;
    background-position: top center;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-y: 25px;
    background-attachment: fixed;
}
.header-internas.tours {
    background-image: url("../images/header-tours.png");
}
.header-internas.transfers {
    background-image: url("../images/header-transfers.png");
}
.header-internas.groups {
    background-image: url("../images/header-groups.png");
}
.header-internas.ourreviews {
    background-image: url("../images/header-reviews.png");
}
.header-internas.contact {
    background-image: url("../images/header-contact-us.png");
}
.header-internas-titulo {
    text-align: center;
    width: 98vw;
    display: inline-block;
    margin-top: 30px;
}
.header-internas-titulo h1 {
    line-height: 0.6em;
}
.header-internas-titulo h2 {
    font-size: 1.1em;
}
.mancha-blanca {
    position: absolute;
    background: url("../images/pleca-blanca@2x.png") no-repeat bottom center;
    background-size: 800px;
    height:35px;
    width: 98vw;
    margin-top: 255px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
} 

/* ::::::::::: ADITIONALS / ADICIONALES ::::::::::: */
.avion {
    background: url('../images/avion.svg') no-repeat bottom center;
}
.mouse {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    z-index: 99;
}
.mouse-icon {
    width: 30px;
    height: 45px;
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
}

/* Carrusel testimonial */
.slider {
  height: 50%;
  width: 100vw;
  max-width: 700px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider::after, .slider::before {
    content:url('../images/reviews/comillas.svg');
    position: absolute;
    top: 100px;
    /* width: 68px;
    height: 52px; */
}
.slider::after {
    transform: rotate(180deg);
    left: 90%;
}
.slider::before {
    left: 0;
    top: 100px;
}
.slider__nav {
  width: 15px;
  height: 15px;
  margin: 1rem 10px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
        animation: check 15s linear infinite;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__caption {
  margin: 1rem 0 0.3rem;
}
.slider__txt {
    width: 85%; /*Determina el ancho de los textos*/
    color: var(--negro);
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    border: 2px solid white;
}
input[type='radio']:checked:after {
    background-color: var(--negro);
    transition: all 0.3s ease-in-out;
}
/* ::::::::::: PARRAFOS ::::::::::: */
.parrafo {
    width: 100%;
    max-width: 800px;
    margin: 20px auto 50px auto;
}
.alerta {
    border: 1px solid var(--color_primario);
    font-size: 0.85em;
    font-style: italic;
    padding: 8px;
}

/* ::::::::::: BOXES ::::::::::: */
.boxes {
    display: grid;
    grid-template: repeat(2, 413px) / repeat(3, minmax(200px, 1fr));
    grid-gap:20px;
    align-items: start;
    justify-items: center;
    width: 100vw;
    max-width: 990px;
    margin: 0 auto;
    margin-top: 25px;
}
.box-item {
    background-color: var(--blanco);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    color: var(--negro);
    font-family: Montserrat-Regular;
    font-size: 13px;
    letter-spacing: 0.16px;
    height: 413px;
    width: 100%;
}
.box-img .image.img01 {
    height: 280px;
}
.box-img .img01 {
    background: url("../images/tours/foto.jpg") no-repeat center center;
    background-size: cover;
}
.box-img .image {
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
}
.box-img img {
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
}
.box-img .precio {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    color: var(--blanco);
    text-align: right;
    padding-right: 37px;
    padding-top: 10px;
    height: 55px;
    margin: -55px 75px 0;
    position: absolute;
}
.box-img .precio.mancha {
    background-image: url("../images/services/mancha.svg");
    background-repeat: no-repeat;
    background-position-y: -18px;
    width: 240px;
}
.box-img .precio small {
    font-size: 0.6em;
}
.box-text {
    display: inline-block;
    width: 100%;
    margin: 15px 0 15px;
}
.box-item .box-text h3 {
    font-family: Montserrat-Regular;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--negro);
    margin: 0;
    display: block;
}
.box-item .box-text .lugar {
    color: #7c7c7c;
}
.box-buttons, .box-text {
    padding: 0 15px;
}
.box-buttons {
    float: right;
}
.box-item .box-buttons button {
    color: var(--blanco);
    text-transform: uppercase;
    background-color: var(--negro);
    padding: 15px;
    float: right;
    border: 0;
    transition: var(--transicion);
}
.box-item .box-buttons button:hover {
    color: var(--negro);
    background-color: var(--color_primario);
}
.box-item .box-buttons .vermas {
    display: inline;
    font-size: 1em;
    padding: 13px;
}
.box-item .box-buttons a {
    color: var(--negro);
    vertical-align: middle;
    line-height: 43px;
    text-decoration: underline;
    transition: var(--transicion);
}
.box-item .box-buttons a:hover {
    color: var(--color_primario);
}
.transfers .img01 {
    background: url("../images/transfers/transfer-img@2x.png") no-repeat top center;
    background-size: cover;
}