/* ---------------- Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }

/* ---------------- Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { ... }

/* ---------------- Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { ... }

 /* ---------------- Small devices (phones) */
 @media (max-width: 575.98px) {
    .hideoverflow {
        overflow: hidden
    }
 /* ETIQUETAS --- */   
    H1 {
        font-size: 6em;
        line-height: 0.8em;
    }
    H2, H4 {
        font-size: 18px;
    }
    H5 {
        margin: 0;
    }
    p {
        font-size: 1.1em;
        font-weight: normal;
    }

/* CLASES --- */
    .hidden-desktop {
        display: initial;
    }
    .br-null-mobile{
        display: none;
    }
    /* --- start buttons */
    .botonPrimario {
        padding: 16px 15px 15px;
    }
    a.boton-cerrar {
        position: absolute;
        background: url("../images/close.svg") no-repeat center center;
        background-size: cover;
        width: 50px;
        height: 50px;
        right: 0;
        cursor: pointer;
        margin: 7px 7px 0;
        z-index: 9999;
        transition: var(--transicion);
    }
    a.boton-cerrar:hover {
        background: url("../images/close-hover.svg") no-repeat center center;
        background-size: 3em; 
    }
    .boton-cerrar img {
        width: 50px;
    }
    /* --- end buttons */
    .br_null, .hidden {
        display: none;
    }
    .br_null_dtop {
        display: initial;
    }

    /* ::: HEADER ::: */
    .header-logo-mobile {
        z-index: 9999;
        padding: 13px 0;
        position: fixed;
        left: 40%;
        right: 40%;
        width: 90px;
    }
    /* --- Header > Menu Mobile */
    .pleca-blanca {
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
        position: fixed;
        display: block;
        background: var(--blanco);
        width: 100%;
        height: 50px;
        z-index: 980;
    }
    .burger-button, .burger-menu {
        position: absolute;
        position: fixed;
        top: 0;
        left: 0;
    }
    .burger-button {
        position: fixed;
        background: url("../images/lnr-menu.svg") no-repeat center center;
        transform: scale(1.5);
        width: 30px;
        margin-left: 8px;
        margin-top: 3px;
        padding: 30px 17px 9px;
        transition: var(--transicion);
        z-index: 991;
    }
    .burger-button:hover {
        background: url("../images/lnr-menu-hover.svg") no-repeat center center;
    }
    .burger-menu {
        background: rgba(255,255,255,0.95);
        z-index: 9999;
        height: 100vh;
        left: -100vw;
        width: 100vw;
        transition: all 0.4s ease-in-out;
    }
    .burger-menu.is-active {
        left: 0;
    }
    .header {
        background-size: cover;
    }
    /* --- Header > Nav */
    .header-menuNav ul {
        text-align: center;
        flex-direction: column;
        /* margin: 40px 0 0; */
        margin: 10% auto;
    }
    .header-menuNav ul li {
        margin: 6% 0 0;
    }
    .header-menuNav ul li a {
        background: none;
    }
    .header-menuNav a {
        display: inline-block;
        width: 40%;
        height: 40px;
    }
    .fa-user-edit{
        font-size: 1.7em;
        vertical-align: middle;
        margin-right: -4px;
    } 
    .fa-facebook-f, .fa-instagram {
        display: none;
    }
    .social-mobile-container {
        display: block;
        width: 100vw;
        text-align: center;
    }
    .social-mobile {
        margin-top: 50px;
        width: auto !important;
    }
    .social-mobile .fa-facebook-f, .social-mobile .fa-instagram {
        display: block;
        color: black;
        font-size: 2em;
        padding: 10px 15px;
    }
    .social-mobile:hover .fa-facebook-f, .social-mobile:hover .fa-instagram {
        color: #FFA800;
    }
    ul.header-social li {
        font-size: 1em;
    }
    ul.header-social a {
        padding: 0;
    }
    ul.header-social {
        padding: 18px 0 14px;
        margin-right: 0;
    }
    ul.header-social a .fa-whatsapp {
        color: #25d366;
        padding: 14px 10px 14px;
    }
    .fa-whatsapp::before {
        font-size: 1.5em;
    }
    /* --- Header > Hero */
    .hero {
        margin-top: 15%;
    }
    .heroContenedor {
        height: 75vh;
    }
    .hero-description {
        margin: 20px auto;
        width: 80%;
    }
    .hero-autor {
        margin-top: 50px;
    }
    .hero-autorInfo {
        font-weight: normal;
    }

    /* ::: SERVICES ::: */
    .services {
        justify-content: center;
        height: 100vh;
    }
    .servicesContenedor {
        flex-wrap: wrap;
    }
    .services-product {
        height: 29%;
    }
    .services-product h3 {
        top: 0;
        bottom: 0;
        margin: 0;
        display:flex;
        align-items: center;
        transition: none;
        border-bottom: 0;
    }
    .services-product:hover h3 {
        border-bottom: 0;
        transform: none;
    }

    /* ::: REVIEWS ::: */
    .reviews {
        width: 75%;
        margin-top: 40px;
    }
    .reviews-description {
        font-size: 0.9em;
        line-height: 1.2em;
        margin-bottom: 10px;
    }
    .reviews::after {
        display: none;
    }
    .reviews::before {
        left: 43%;
        top: -55px;
        transform: scale(0.7);
    }

    /* ::: SIGNUP FORM ::: */
    .signupform .form {
        flex-direction: column;
    }
    .signupform h5 {
        margin: 20px 0 15px 0;
    }
    .signupform ::placeholder {
        text-align: center;
    }
    .signupform input[type=email] {
        margin: 0 0 7px 0;
    }
    .signupform input[type=email], .signupform button {
        width: 80%;
    }
    .signupform ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
         color: var(--gris);
     }
     .signupform :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--gris);
     }
     .signupform ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: var(--gris);
     }

    /* ::: FOOTER ::: */
    .footer {
        height: 100%;
        flex-direction: column;
    }
    .paypal {
        margin: 25px 0;
    }
    .footer-logos .logo-lalostylesContenedor, .footer-logos, .paypal {
        margin-left: 0 !important;
    }
    .footer-logos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-menu {
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }
    .footer-menu ul {
        border-right: 0;
        padding-right: 0;
    }
    .footer-menu ul li {
        font-weight: normal; 
    }
    .footer-clima {
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid rgba(255,255,255,0.25);
    }
    
 }