/* ---------------- Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }

/* ---------------- Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { ... }

/* ---------------- Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { ... }

 /* ---------------- Small devices (phones) */
 @media (max-width: 575.98px) { 
 /* ETIQUETAS --- */   
    H1 {
        font-size: 6em;
        line-height: 0.8em;
    }
    H2, H4 {
        font-size: 18px;
    }
    H5 {
        margin: 0;
    }
    p {
        font-size: 1.1em;
        font-weight: normal;
    }

/* CLASES --- */
    /* --- start buttons */
    .botonPrimario {
        box-shadow: none;
    }
    /* --- end buttons */
    .br_null, .hidden {
        display: none;
    }
    .br_null_dtop {
        display: initial;
    }

    /* ::: HEADER ::: */
    .header {
        background-size: cover;
        height: 100vh;
    }
    .header-menuNav {
        display: none;
    }
    /* ::: HERO ::: */
    .hero {
        margin-top: 0;
    }
    .heroContenedor {
        height: 100vh;
    }
    .hero-description {
        margin: 20px auto;
        width: 80%;
    }
    /* ::: SERVICES ::: */
    .services {
        justify-content: center;
        height: 100vh;
    }
    .servicesContenedor {
        flex-wrap: wrap;
    }
    .services-product {
        height: 29%;
    }
    .services-product h3 {
        top: 0;
        bottom: 0;
        margin: 0;
        display:flex;
        align-items: center;
        transition: none;
        border-bottom: 0;
    }
    .services-product:hover h3 {
        border-bottom: 0;
        transform: none;
    }

    /* ::: REVIEWS ::: */
    .reviews {
        width: 75%;
        margin-top: 40px;
    }
    .reviews-description {
        font-size: 0.9em;
        line-height: 1.2em;
        margin-bottom: 10px;
    }
    .reviews::after {
        display: none;
    }
    .reviews::before {
        left: 43%;
        top: -55px;
        transform: scale(0.7);
    }

    /* ::: SIGNUP FORM ::: */
    .signupform .form {
        flex-direction: column;
    }
    .signupform h5 {
        margin: 20px 0 15px 0;
    }
    .signupform ::placeholder {
        text-align: center;
    }
    .signupform input[type=email] {
        margin: 0 0 7px 0;
    }
    .signupform input[type=email], .signupform button {
        width: 80%;
    }

    /* ::: FOOTER ::: */
    .footer {
        height: 100%;
        flex-direction: column;
    }
    .paypal {
        margin: 25px 0;
    }
    .footer-logos .logo-lalostylesContenedor, .footer-logos, .paypal {
        margin-left: 0 !important;
    }
    .footer-logos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-menu {
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }
    .footer-menu ul {
        border-right: 0;
        padding-right: 0;
    }
    .footer-menu ul li {
        font-weight: normal; 
    }
    .footer-clima {
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid rgba(255,255,255,0.25);
    }
    
 }